* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto; 
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 1vw;
    letter-spacing: 1px;

    @media(max-width: 1366px) {
        overflow-x: hidden;
    }
}

h1,
h2,
h3 {
    font-weight: normal;
    font-family: "Wulkan Display", serif;
    text-transform: uppercase;

    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin: 0 auto;
    // max-width: 1624px;
    min-width: 390px;
    overflow-x: hidden;
    padding: 0 5%;
}

.hero {
    min-width: 390px;
    .hero_img {
        width: 100%;;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 250px;
        height: 60px;
        border-radius: 10px;
        margin: 25px auto 0;
        background: radial-gradient(circle, #E9D6B3 0%, #DDBD87 100%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: rgba(0, 0, 0, 0.692);
        font-size: 20px;
        font-family: "Manrope", sans-serif;
        font-weight: bold;
        letter-spacing: 0px;
        &:hover {
            cursor: pointer;
            background: radial-gradient(circle, #E9D6B3 0%, #c2a167 100%);
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        }
        
    }
}

