@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-family: "Manrope", sans-serif;
  color: rgba(0, 0, 0, 0.692);
  font-size: 16px;
}
@media (max-width: 1366px) {
  body {
    overflow-x: hidden;
  }
}

@-webkit-keyframes h-rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes h-rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.692);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  margin: 0 auto;
  min-width: 390px;
  overflow-x: hidden;
  padding: 0 5%;
}

.hero {
  min-width: 390px;
}
.hero .hero_img {
  width: 100%;
}
.hero .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin: 25px auto 0;
  background: radial-gradient(circle, #E9D6B3 0%, #DDBD87 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgba(0, 0, 0, 0.692);
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
}
.hero .btn:hover {
  cursor: pointer;
  background: radial-gradient(circle, #E9D6B3 0%, #c2a167 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.hero .about-curse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 50px auto 0;
  padding: 15px 10px;
  text-align: center;
  background-image: url("/assets/img/Mask_group.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
.hero .about-curse .about-curse_h3 {
  margin-bottom: 10px;
}

/*************curse-for-you***************/
.curse-for-you {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 25px auto;
  padding-bottom: 100px;
}
.curse-for-you .curse-for-you_matrix {
  position: absolute;
  width: 180px;
  bottom: 0px;
  right: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: -1;
}
.curse-for-you .curse-for-you_h3 {
  margin-bottom: 15px;
}
.curse-for-you .curse-for-you_text {
  padding: 0 15px;
}
.curse-for-you .curse-for-you_text .curse-for-you_text_item {
  margin-bottom: 2px;
}
.curse-for-you .curse-for-you_text .curse-for-you_text_item img {
  width: 20px;
  margin-right: 5px;
}

/***********five-lessons**************/
.five-lessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.five-lessons .five-lessons_h3_img {
  width: 50px;
  margin-bottom: 10px;
  -webkit-animation: horizontal-rotate 2s infinite linear;
          animation: horizontal-rotate 2s infinite linear;
}
.five-lessons .five-lessons_h3 {
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px;
}
@-webkit-keyframes horizontal-rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes horizontal-rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.five-lessons .gradient-text {
  background: radial-gradient(circle, #d1b685 0%, #e48f10 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.five-lessons .row {
  width: 95%;
}
.five-lessons .row .col .tabs .tab input[type=checkbox] {
  display: none;
}
.five-lessons .row .col .tabs .tab .tab-label {
  display: block;
  padding: 1em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 127, 95, 0.3294117647)), to(rgba(254, 180, 123, 0.1529411765)));
  background: linear-gradient(90deg, rgba(255, 127, 95, 0.3294117647) 0%, rgba(254, 180, 123, 0.1529411765) 100%);
  cursor: pointer;
  font-weight: bold;
  color: #333;
  margin-bottom: 2px;
  border-radius: 15px;
}
.five-lessons .row .col .tabs .tab .tab-label img {
  width: 20px;
}
.five-lessons .row .col .tabs .tab .tab-label .nuber3 {
  width: 12px;
}
.five-lessons .row .col .tabs .tab .tab-label::after {
  content: "❯";
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.five-lessons .row .col .tabs .tab .tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.35s ease;
  transition: max-height 0.35s ease;
  padding: 0 1em;
  color: #333;
  background: white;
}
.five-lessons .row .col .tabs .tab input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.five-lessons .row .col .tabs .tab input:checked ~ .tab-content {
  max-height: 340px;
  padding: 1em;
}

/************mini-curse-about**************/
.mini-curse-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  margin-top: 45px;
}
.mini-curse-about .mini-curse-about_text {
  position: relative;
  border-radius: 15px;
  padding: 0 15px;
  height: 390px;
  overflow: hidden;
}
.mini-curse-about .mini-curse-about_text .mini-curse-about_text_img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -150px;
  opacity: 0.5;
}
.mini-curse-about .mini-curse-about_text .mini-curse-about_text_item {
  margin-bottom: 5px;
}
.mini-curse-about .mini-curse-about_text .mini-curse-about_text_item img {
  -webkit-animation: h-rotate 2s infinite linear;
          animation: h-rotate 2s infinite linear;
  width: 20px;
  margin-right: 4px;
}
.mini-curse-about .mini-curse-about_text h4 {
  text-align: center;
  font-style: italic;
}
.mini-curse-about .mini-curse-about_text .gradient-text {
  background: radial-gradient(circle, #d1b685 0%, #e48f10 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.mini-curse-about .mini-curse-about_text p {
  font-style: italic;
}

.hero2-img {
  display: block;
  width: 90%;
  margin: 25px auto 0;
  border-top-left-radius: 85px;
  border-bottom-right-radius: 85px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mini-curse-about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  margin-top: 45px;
}
.mini-curse-about2 .mini-curse-about_text {
  position: relative;
  border-radius: 15px;
  padding: 0 15px;
  height: 390px;
  overflow: hidden;
}
.mini-curse-about2 .mini-curse-about_text .mini-curse-about_text_img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0px;
  opacity: 0.5;
}
.mini-curse-about2 .mini-curse-about_text .mini-curse-about_text_item {
  margin-bottom: 5px;
}
.mini-curse-about2 .mini-curse-about_text .mini-curse-about_text_item img {
  -webkit-animation: h-rotate 2s infinite linear;
          animation: h-rotate 2s infinite linear;
  width: 12px;
  margin-right: 4px;
}
.mini-curse-about2 .mini-curse-about_text h4 {
  text-align: center;
  font-style: italic;
}
.mini-curse-about2 .mini-curse-about_text .gradient-text {
  background: radial-gradient(circle, #d1b685 0%, #e48f10 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.mini-curse-about2 .mini-curse-about_text p {
  font-style: italic;
}

/**************tariffs***************/
.tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 0 15px;
}
.tariffs h3 {
  margin-top: 25px;
  margin-bottom: 20px;
}
.tariffs .tariff {
  position: relative;
  padding: 0 20px 40px;
  overflow: hidden;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  width: 99%;
}
.tariffs .tariff_h4 {
  text-align: center;
  background: radial-gradient(circle, #d1b685 0%, #e48f10 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.tariffs .tariff_item {
  margin-bottom: 5px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.tariffs .tariff_item img {
  width: 11px;
  margin-right: 3px;
}
.tariffs .tariff_bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
}
.tariffs .price {
  text-align: end;
  font-weight: bold;
  font-size: 25px;
  background: radial-gradient(circle, #d1b685 0%, #e48f10 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 25px;
}