$border: 1px solid red;

@font-face {
    font-family: "Wulkan Display";
    src: url("../assets/fonts/WulkanDisplayLight.woff2") format("woff2"),
        url("../assets/fonts/WulkanDisplayLight.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #F8F4EE;
    // background-color: #E4E3DE;
    width: 100vw;
    overflow-x: hidden;
    // font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    color: #331B07;
    font-size: 16px;

    @media(max-width: 1366px) {
        overflow-x: hidden;
    }
}

h1,
h2,
h3 {
    // font-family: "Wulkan Display", serif;
    font-family: 'Manrope', sans-serif;
    color: #331B07;
}

a {
    text-decoration: none;
    color: black;
}


.container {
    margin: 0 auto;
    max-width: 800px;
    overflow-x: hidden;
    padding: 0 5%;
}

header {
    border: $border;
    width: 100%;
    height: 90px;


    .header_logo {}

    .header_social {}
}


/*******************hero*************************/
.hero {
    // border: $border;
    position: relative;
    overflow: hidden;


    .hero_h2 {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        font-size: 15px;
        font-weight: bold;

        .bubble-second {
            transform: scaleX(-1);
        }


    }

    .hero_h1 {
        position: relative;
        z-index: 1;
        text-align: center;
        letter-spacing: 0px;
        margin-top: 20px;

        text-transform: uppercase;
        font-size: 25px;
        word-spacing: 5px;
        // background-image: linear-gradient(to right, white, #B49378);
        text-shadow: rgb(0, 0, 0) 1px 0px 50px;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        color: #ffffff;
    }

    @media(min-width: 471px) {
        .hero_h1 {
            width: 78%;
            font-size: 23px;
            margin: 20px auto 0;
        }
    }

    @media(max-width: 390px) {
        background-color: transparent;
    }

    .hero_imgs {
        .hero_imgs_1 {
            position: absolute;
            top: -110px;
            left: 3%;
            width: 94%;
            border-bottom-right-radius: 200px;
            border-bottom-left-radius: 200px;
            box-shadow: #1C1A1F 0px 5px 20px;
        }

        .hero_imgs_2 {
            position: absolute;
            top: 480px;
            right: 25px;
            width: 140px;
            border-radius: 50%;
            box-shadow: #1C1A1F 0px 0px 15px;
        }

        @media(min-width: 471px) {
            .hero_imgs_1 {
                top: -100px;
                left: 19%;
                width: 60%;
            }

            .hero_imgs_2 {
                top: 500px;
                right: 120px;
                width: 180px;
            }
        }

        @media(max-width: 450px) {
            .hero_imgs_1 {
                top: -70px;
            }
        }

        @media(max-width: 430px) {
            .hero_imgs_1 {
                top: -30px;
            }
        }

        @media(max-width: 390px) {
            .hero_imgs_1 {
                position: absolute;
                top: -120px;
                left: 2%;
                width: 94%;
                border-bottom-right-radius: 180px;
                border-bottom-left-radius: 180px;
                box-shadow: #1C1A1F 0px 5px 20px;
            }

            .hero_imgs_1 {
                position: absolute;
                top: -20px;
                left: 0%;
                width: 100%;
                border-bottom-right-radius: 180px;
                border-bottom-left-radius: 180px;
                box-shadow: #1C1A1F 0px 5px 20px;
            }

            .hero_imgs_2 {
                position: absolute;
                top: 505px;
                right: 25px;
                width: 120px;
            }
        }
    }

    .hero_price {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 540px;



        .price_word {
            font-size: 17px;
            font-weight: bold;
            margin-left: -10vw;
        }

        .price_current-price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 0px;
            width: 95px;
            height: 40px;
            border: 2px solid #63683F;
            border-radius: 5px;
            margin-left: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            span {
                margin-top: 4px;
                font-size: 16px;
            }
        }

        .price_old-price {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 0px;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            margin-left: 10px;

            span {
                margin-top: 4px;
                font-size: 16px;
            }

            .price_old-price-cross-1,
            .price_old-price-cross-2 {
                position: absolute;
                border-top: 2px solid #C57069;
                width: 80px;
                border-bottom: 0;
            }

            .price_old-price-cross-1 {
                -webkit-transform: rotate(161deg);
                -moz-transform: rotate(161deg);
                -ms-transform: rotate(161deg);
                -o-transform: rotate(161deg);
            }

            .price_old-price-cross-2 {
                -webkit-transform: rotate(-161deg);
                -moz-transform: rotate(-161deg);
                -ms-transform: rotate(-161deg);
                -o-transform: rotate(-161deg);
            }
        }

        .hero_price-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            font-weight: bold;
            gap: 5px;
            letter-spacing: 0px;
            width: 300px;
            height: 55px;
            background: radial-gradient(circle, #F3EAE1 0%, #af8961 100%);
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: -10px auto 20px;
            // margin-top: 20px;
            cursor: pointer;

            &:hover {
                background: #63683F;
            }
        }

        @media(min-width: 471px) {
            .hero_price-btn {
                margin: 80px auto 20px;
            }
        }
    }
}



/*****************description*************/

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 35px;
    background-image: url('../assets/img/hero/bg2-0.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 55px;
    // border: $border;

    .description_li {
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-shadow: rgb(255, 255, 255) 1px 0px 50px;
    }
}

/******for-whom****************/

.for-whom {
    position: relative;
    // background-image: url('../assets/img/Rectangle\ 23.png');
    color: white;
    overflow: hidden;
    background-color: #2C2C2E;
    border-radius: 25px;
    padding-bottom: 25px;
    width: 95%;


    .for-whom_h2 {
        // font-size: 25px;
        font-size: 140%;
        text-align: center;
        background-image: linear-gradient(to right, white, #B49378);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .for-whom_body {
        background-position: 0%;
        border-radius: 15px;
        padding: 10px;


        .for-whom_body_bg {
            position: absolute;
            top: 53px;
            width: 70%;
            left: 15%;
        }

        .for-whom_border {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: 1px solid #fccf9c48;
            border-radius: 15px;
            padding: 5px;

            .for-whom_body_part_title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;


                .for-whom_body_number-img {
                    width: 55px;
                    margin-right: 5px;
                }

                .for-whom_body_h3 {
                    font-size: 18px;
                    // color: #93A035;
                    background-image: linear-gradient(to right, #B49378, #93A035);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }

                .h3_first {
                    margin-top: 95px;
                }

                @media(min-width: 471px) {
                    .h3_first {
                        margin-top: 195px;
                    }
                }

                .h3_second {
                    margin-top: 35px;
                }

            }


            .for-whom_body_part_ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;


                .for-whom_body_part_ul_li {
                    margin-top: 7px;
                    text-align: center;
                    list-style-type: none;

                    img {
                        width: 10px;
                        margin-right: 15px;
                    }

                }
            }
        }
    }

}

/*****prognostic*******/
.prognostic {

    background-image: url('../assets/img/Rectangle\ 23.png');
    padding-top: 30px;
    padding-bottom: 30px;

    .prognostic_imgs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 50px;
        }
    }


    .prognostic_h2 {
        text-align: center;
        background-image: linear-gradient(to right, black, #B49378);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        margin-top: 10px;
    }

    .prognostic_p {
        text-align: center;
        font-weight: bold;
    }
}

/****about-author***********/

.about-author {
    position: relative;
    // background-image: url('../assets/img/Rectangle\ 23.png');
    background-image: url('../assets/img/hero/bg2-0.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;

    .about-author_hero {
        width: 100%;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
        border: 1px solid #fccf9c48;

    }


    .about-author_h2 {
        text-align: center;
    }

    .about-author_body {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        // height: 700px;

        .about-author_body_p {
            position: relative;
            z-index: 1;
            text-align: center;
            color: rgb(77, 74, 74);
            font-weight: bold;
            font-size: 15px;
            padding-bottom: 0;
            text-shadow: rgb(255, 255, 255) 1px 0px 50px;
            // background-color: rgba(255, 255, 255, 0.404);
            margin-top: 15px;
        }
    }

    .about-author_moon {
        position: absolute;
        bottom: -200px;
        width: 90%;
        opacity: 1;
        // z-index: -1;
    }
}

/****what-you-get*******/
.what-you-get {
    // background-image: url('../assets/img/Rectangle\ 23.png');
    padding: 0;
    padding-top: 35px;
    width: 97%;

    .what-you-get_h2 {
        text-align: center;
        background-image: linear-gradient(to right, black, #B49378);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .what-you-get_body {
        background-image: url('../assets/img/hero/bg1.jpg');
        background-position: 1%;
        background-size: cover;
        // border: 1px solid #fccf9c48;
        border-radius: 25px;
        padding: 10px;
        color: white;

        .what-you-get_body_inside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: 1px solid #fccf9c48;
            border-radius: 190px;
            // padding: 5px;

            .what-you-get_body_inside_part {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                padding: 10px;

                .what-you-get_body_inside_part_img-number {
                    width: 70px;
                }

                .what-you-get_body_inside_part_h3 {
                    font-size: 20px;
                    font-weight: bold;
                    color: #93A035;
                }

                .what-you-get_body_inside_part_p {
                    text-align: center;
                    background-color: #29282d83;
                    border-radius: 25px;

                    span {
                        background-image: linear-gradient(to right, #B49378, #93A035);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }
}

/******buy-course*********/

.buy-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/img/Rectangle\ 23.png');

    .buy-course_h2 {
        text-align: center;
        margin-top: 35px;
        background-image: linear-gradient(to right, #93A035, black);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

    }

    .buy-course_p {
        font-size: 17px;
        text-align: center;

    }

    span {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 21px;


    }

    .buy-course_price {
        font-size: 45px;
        font-weight: bold;
        background-image: linear-gradient(to right, black, #93A035);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        font-weight: bold;
        // text-shadow: rgb(0, 0, 0) 1px 0px 0px;
    }

    .buy-course_old-price {
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        span {
            text-decoration: line-through;
        }
    }

    .buy-course_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: bold;
        gap: 5px;
        letter-spacing: 0px;
        width: 300px;
        height: 55px;
        background: radial-gradient(circle, #F3EAE1 0%, #af8961 100%);
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 20px auto;
        // margin-top: 20px;
        cursor: pointer;

        &:hover {
            background: #63683F;
        }
    }

    .buy-course_description {
        margin-top: 20px;
        font-size: 13px;
        font-weight: bold;
    }
}

/*****course-information******/

.course-information {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: url('../assets/img/Rectangle\ 23.png');
    padding-bottom: 25px;

    .course-information_h2 {
        text-transform: uppercase;
        text-align: center;
        background-image: linear-gradient(to right, black, #B49378);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .course-information_item {
        background-image: url('../assets/img/hero/bg6.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 25%;
        // border: 1px solid #b49378a9;
        border-radius: 20px;
        min-height: 110px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
        width: 95%;
        margin: 0 auto;

        .course-information_item_h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            background-image: linear-gradient(to right, #B49378, #93A035);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-align: center;
        }

        .course-information_item_ul {
            border: 1px solid #b4937856;
            padding: 25px 15px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.678);


            .course-information_item_li {
                font-size: 16px;
                margin-bottom: 5px;
                text-align: center;


                &::marker {
                    color: #7B804E;
                }
            }
        }

        .course-information_item_ul_last {
            background-color: rgba(0, 0, 0, 0.678);
        }
    }
}

/*****after-study******/

.after-study {
    background-image: url('../assets/img/Rectangle\ 23.png');
    padding-bottom: 25px;

    .after-study_h2 {
        text-align: center;
        background-image: linear-gradient(to right, black, #B49378);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .after-study_item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 30px;

        .after-study_item_img {
            width: 55px;
        }

        .after-study_item_text {
            font-size: 16px;
        }
    }
}


/************youtube-items*************/
.youtube-items {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 100%;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
        }
    }
}


/******************slider*******************/

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}



.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
    height: 650px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Optional: Add styling for navigation buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -25px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Optional: Add styling for dots navigation */
.dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

#slide-1 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-01.jpg');
}

#slide-2 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-02.jpg');
}

#slide-3 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-03.jpg');
}

#slide-4 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-06.jpg');
}

#slide-5 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-07.jpg');

}

#slide-6 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-08\ \(2\).jpg');


}

#slide-7 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-12.jpg');


}

#slide-8 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-13.jpg');


}

#slide-9 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-14.jpg');


}

#slide-10 {
    background-image: url('/assets/img/reviews/photo_2024-05-07_15-44-17.jpg');


}






footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    background-image: url('../assets/img/Rectangle\ 23.png');

    .social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .footer_link {
            img {
                width: 45px;
            }
        }
    }


    .public {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        font-size: 13px;
    }
}