$border: 1px solid red;

@font-face {
    font-family: "Wulkan Display";
    src: url("../assets/fonts/WulkanDisplayLight.woff2") format("woff2"),
        url("../assets/fonts/WulkanDisplayLight.woff") format("woff");
}
  

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    color: #4F410D;

    &::before {
        content: "";
        background-image: url('../assets/img/bg.webp');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
        overflow: hidden;
        z-index: -1;
        min-height: 790px;

    }

    @media(max-width: 1366px) {
        overflow-x: hidden;
    }
}

h1,
h2,
h3 {
    font-family: "Marck Script", serif;
    color: #757539;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 470px;
    overflow-x: hidden;
    padding: 0 15px;
    min-height: 790px;

    @media (min-width: 471px) {
        overflow: visible;
    }

}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.gradient {
    margin: 5px;
    background: linear-gradient(to right,
            #4F410D 20%,
            /* Темний основний колір */
            #8B750F 30%,
            /* Яскравий золотистий */
            #D4A017 70%,
            /* Яскравий медовий */
            #8B750F 80%);
    /* Золотистий */


    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;
}

.gradient-red {
    margin: 5px;
    background: linear-gradient(to right,
            #161616 20%,  /* Темний червоний */
            #FFA500 40%,  /* Яскравий червоний */
            #FFA500 70%,  /* Яскравий помаранчевий */
            #B22222 100%); /* Золотий */



    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    // font-weight: bold;
}



// @media (max-width: 768px) {
//     flex-direction: column;
// }


.hero {
    // border: 1px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../assets/img/new/hero.png');
        background-size: cover;
        position: absolute;
        max-width: 550px;
        top: 130px;
        left: -90px;
        right: 0px;
        bottom: 0px;
        opacity: 1;
        overflow: hidden;
        z-index: 1;

    }


    .hero-text_wrapper {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            background-image: url('../assets/img/bg2.png');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: -50px;
            bottom: 0px;
            left: 0px;
            opacity: 0.9;
            overflow: hidden;
            z-index: -1;

            @media (min-width: 471px) {
                display: none;

            }
        }


        .hero-text_h1 {
            font-family: sans-serif;
            // border: 1px solid red;
            // text-transform: none;
            font-size: 44px;
            text-align: center;
            // letter-spacing: 2px;
            line-height: 40px;
            margin-top: 75px;
            margin-bottom: 0;
            width: 100%;
            font-weight: normal;
            .h1_small {
                font-size: 24px;
            }
            span {
                font-weight: bold;
            }

            @media (min-width: 470px) {
                font-size: 30px;
            }

            @media (max-width: 438px) {
                font-size: 35px;
            }

            @media (max-width: 393px) {
                font-size: 33px;
            }

            @media (max-width: 375px) {
                margin-top: 70px;
                font-size: 25px;
            }


        }

        .hero-text_h2 {
            text-align: right;
            padding: 3px;
        }
        .caveat-uniqueClassName {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: 500; /* Встановіть бажану вагу шрифту */
            font-style: normal;
            font-size: 45px
          }
          .caveat-uniqueClassName span{
            font-weight: 700;
          }

          .caveat-uniqueClassName-small {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: 500; /* Встановіть бажану вагу шрифту */
            font-style: normal;
            font-size: 30px
          }
          

        .hero-text_1p {
            width: 210px;
            font-size: 16px;
            text-align: center;
            margin-left: auto;

            @media (max-width: 393px) {
                margin-right: -15px;

            }
        }

        .hero-text_p2 {
            font-size: 14px;
            font-style: italic;
            color: red;
            font-weight: bold;
            margin-top: 410px;
            margin-left: -35vw;
            text-transform: uppercase;

            -webkit-transform: rotate(80deg);
            -moz-transform: rotate(80deg);
            -o-transform: rotate(80deg);
            -ms-transform: rotate(80deg);
            transform: rotate(80deg);

            @media (min-width: 471px) {
                margin-left: -175px;

            }
        }
    }

    

    // @keyframes gradient-animation {
    //     0% { background-position: 0% 50%; }
    //     50% { background-position: 100% 50%; }
    //     100% { background-position: 0% 50%; }
    //   }

    @keyframes glow {
        from {
            text-shadow: 4px 4px 25px rgb(255, 255, 255);        }
        to {
            text-shadow: none;        }
      }

    .hero_btn {
        position: absolute;
        bottom: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8B8B55;
        color: white;
        text-transform: uppercase;
        height: 80px;
        width: 290px;
        animation: glow 1s infinite alternate;
        

        
        
        &:hover {
            cursor: pointer;
            background-color: #555537;
        }

    }
}


.program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .program_h1 {
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 35px;
    }

    .program_ul {
        .program_ul_li {
            font-size: 18px;
        }
    }

    .hero_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8B8B55;
        color: white;
        text-transform: uppercase;
        height: 70px;
        width: 260px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: bold;
        letter-spacing: 1px;


        &:hover {
            cursor: pointer;
            background-color: #555537;
        }

    }


    /******************slider*******************/

    .slider-container {
        position: relative;
        width: 370px;
        overflow: hidden;
        margin-bottom: 45px;
    }

    .slider-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }



    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        box-sizing: border-box;
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    /* Optional: Add styling for navigation buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -25px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* Optional: Add styling for dots navigation */
    .dots {
        text-align: center;
        margin-top: 15px;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dot.active {
        background-color: #717171;
    }

    #slide-1 {
        background-image: url('/assets/img/new/1.jpg');
    }

    #slide-2 {
        background-image: url('/assets/img/new/2.jpg');
    }

    #slide-3 {
        background-image: url('/assets/img/new/3.jpg');
    }

    #slide-4 {
        background-image: url('/assets/img/new/4.jpg');
    }

    #slide-41 {
        background-image: url('/assets/img/s1.jpg');
    }




    .slider-reviews {
        margin-bottom: 0px;
        min-height: 250px;

        .slider-container2 {
        }

      }
      
      #slider2 {
        height: 250px;
      }
      
      #slide-5 {
        background-image: url('../assets/img/reviews/02.jpg');
        height: 250px;
      }
      
      #slide-6 {
        background-image: url('../assets/img/reviews/01.jpg');
        height: 250px;
      
      }
      
      #slide-7 {
        background-image: url('../assets/img/reviews/03.jpg');
        height: 250px;
      
      }
      
      #slide-8 {
        background-image: url('../assets/img/reviews/04.jpg');
        height: 250px;
      
      }
      
      #slide-9 {
        background-image: url('../assets/img/reviews/05.jpg');
        height: 250px;
      
      }
    
}